body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav, header, section {
  display: block;
}

h1 {
  font-size: 3.5rem;
}

#mainNav {
  background-color: #f7f7f7;
  font-family: 'Bangers', cursive;
  font-size: 1.5rem !important;
}

.navbar-brand{
  font-size: 1.5rem !important; 
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}

#about{
  background-color: #5eb8ff;
  background: linear-gradient(to bottom, #5eb8ff 0%, rgba(56, 139, 119, 0.8) 100%);
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.container-fluid {
  max-width: 1920px;
}

.container-fluid .portfolio-box {
  position: relative;
  display: block;
}

.figure {
  border: 3px solid #f7f7f7;
}

.page-section {
  padding: 8rem 0;
}

.img-fluid {
  height: 350px !important;
}

.table-responsive {
  margin-top: 20px;
}